<plugin name='wicket' version='6.28.2' grailsVersion='2.2.5 &gt; *'>
  <author>Narender Loganathan. previously : Lee Butts &amp; Graeme Rocher</author>
  <title>Provides integration between Grails and the Wicket framework</title>
  <description>
A plug-in that makes Wicket (http://wicket.sourceforge.net/) the default view rendering framework for Grails. Wicket is a
component oriented framework that, like Grails, embraces convention-over-configuration approaches.
	</description>
  <documentation>http://grails.org/plugin/wicket</documentation>
  <type>WicketGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='https://repo1.maven.org/maven2' url='https://repo1.maven.org/maven2/' />
    <repository name='https://repo.grails.org/grails/core' url='https://repo.grails.org/grails/core/' />
    <repository name='https://repo.grails.org/grails/plugins' url='https://repo.grails.org/grails/plugins/' />
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='org.apache.wicket' name='wicket-datetime' version='6.28.0' />
      <dependency group='org.wicketstuff' name='wicketstuff-flot' version='6.28.0' />
      <dependency group='org.apache.wicket' name='wicket-ioc' version='6.28.0' />
      <dependency group='org.objenesis' name='objenesis' version='1.4' />
      <dependency group='org.wicketstuff' name='wicketstuff-restannotations-json' version='6.28.0' />
      <dependency group='org.wicketstuff' name='wicketstuff-restannotations' version='6.28.0' />
      <dependency group='org.apache.wicket' name='wicket-spring' version='6.28.0' />
      <dependency group='org.apache.wicket' name='wicket-core' version='6.28.0' />
      <dependency group='org.apache.wicket' name='wicket-extensions' version='6.28.0' />
    </compile>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>